<div class="card mt-5">

  <h1 class="font-bold text-3xl text-center mb-5"> ADD PRODUCT</h1>
  <form method="POST" action="/admin/add">
      <input type="text" name="title" class="form-input" placeholder="Product Title"/>
      <input type="text" name="price" class="form-input" placeholder="Product Price"/>
      <input type="text" name="image" class="form-input" placeholder="Product Image"/>
      <textarea name="description" placeholder="Product description" class="form-input h-[200px]"></textarea>
       <div class="text-center">
            <button class="btn btn-primary">ADD</button>
       </div>
  </form>
</div>